@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,700');

*, html {
    margin: 0;
    scroll-behavior: smooth;
}

:root {
    --bg-color: #fbfbfb;

    --primary-color: #04c49a;
    --primary-color-light: #00fac4;
    --primary-color-dark: #04c49a80;

    --foreground: #141414;
    --foreground-light: #4c5454;

    --dm-color: #007bff;
}

.dark-mode {
    --bg-color: #141414;

    --foreground: #fbfbfb;
    --foreground-light: #a2a2a2;

    --dm-color: #ffc107;
}

.dark-mode a.navbar-brand {
    color: var(--foreground);
}

.dark-mode td, .dark-mode #navbarNav a {
    color: var(--foreground-light);
}

body, section {
    background-color: var(--bg-color);
    font-family: 'Roboto' !important;
}

nav {
    background-color: var(--bg-color);
}

#top {
    height: 0.2em;
    background-color: var(--primary-color-light);
}

.navbar-toggler {
    border: 0;
}

.navbar-brand {
    font-family: 'Roboto';
    font-weight: 200;
}

p, h4 {
    color: var(--foreground);
}

p {
    font-weight: 300;
    font-size: 1em;
}

h4 {
    font-weight: 300;
    font-size: 1.2em;
    line-height: 1.4em;
    padding-bottom: 0.1em;
    padding-top: 1em;
    color: var(--foreground-light);
}

#hero h4 {
    padding-bottom: 1em;
    padding-top: 0;
    color: var(--foreground);
}

table {
    margin-bottom: 40px;
}

h3 {
    font-weight: 300;
    font-size: 1.4em;
    color: var(--primary-color);

}

li a {
    font-weight: 300;
}

.active a {
    color: var(--primary-color) !important;
    font-weight: 300;
}

li a:focus, li a:hover {
    color: var(--primary-color) !important;
}

hr {
    border-color: var(--primary-color-dark);
}

td {
    font-weight: 300;
    font-size: 1em;
    line-height: 1.4em;
    padding-bottom: 1em;
}

#hero {
    height: calc(100vh - 0.4em - 56px);
}

#hero .container {
    padding-top: 25vh;
    padding-bottom: 5vh;

}

.btn-prime {
    margin-top: 25px;
    border-radius: 50px;
    color: var(--primary-color);
    border-color: var(--primary-color);
    height: 3em;
}

.btn-prime:focus, .btn-prime:hover {
    background-color: var(--primary-color);
    color: var(--bg-color);
}

#skillset, #portfolio, #contact {
    margin-top: 10vh;
}

a, a:visited, a:hover {
    color: var(--primary-color);
}

.contact-details {
    font-size: 0.9em;
}

li i {
    padding-right: 0.3em;
}

.dark-mode-button a, .dark-mode-button a:hover, .dark-mode-button a:focus {
    color: var(--dm-color) !important;
}

@media (min-width: 993px) {
    body {
        font-size: 1.2em;
    }

    .navbar-right .navbar-nav {
        margin-left: auto;
    }
}